/* streams */

/*.tab-pane .nostreams {
	margin-top: 5px;
}*/

.streams {
    margin-top: -10px;
}

.streams .flex-item {
	width: 100%;
}

@media (min-width: 640px) {
    .streams .flex-item {
    	width: 280px;
    }
}

@media (min-width: 768px) {
    .streams .flex-item {
    	width: 336px;
    }
}

@media (min-width: 1200px) {
    .streams .flex-item {
    	width: 404px;
    }

    .streams .stream--no-logo {
    	width: 264px;
    }
}

.stream-standalone, .stream-standalone .stream-image {
	width: 100%;
}

.stream-standalone .title {
	padding: 5px 10px;
}

.stream-standalone .title p {
	margin-bottom: 7px;
}

.stream-standalone .title p:last-child {
	margin-bottom: 2px;
}

.stream-footer #chat {
	margin: 0;
}

#stats svg {
	width: 500px;
	height: 400px;
}

.telegram-icon {
    color: #3bb8e4;
}

/* nav */

.panel--nav {
    /*margin-top: 1rem;*/
    /*padding: 0.5rem;*/
    margin-bottom: 0;
    box-shadow: none;
    background-color: transparent;
}

@media (max-width: 767px) {
    .panel--nav {
        margin-top: 1rem;
    }
}

@media (min-width: 768px) {
    .panel--nav {
        margin-left: 12px;
        margin-right: 12px;
    }
}

.panel--nav .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.panel--nav .nav > li > a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    font-weight: 600;
    transition: background-color 0.75s;
}

/* misc */

.blizzard {
    color: #00bfff;
}

.textlogo {
	font-family: 'Noticia Text', serif;
	font-size: 2em;
	/*letter-spacing: 0.07em;*/
	margin-top: 4px;
	text-transform: uppercase;
	margin-bottom: 6px;
	/*margin-left: 16px;*/
}

@media (max-width: 767px) {
    .textlogo {
        /*margin-left: 10px;*/
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
}

.navbar-toggle {
    display: none;
}

.social-links a:hover {
    color: #66f;
}

/* game icons */

.game-icon {
	width: 32px;
	height: 32px;
	margin-top: 1px;
	margin-right: 10px;
	background-size: 32px 32px;
}

.linkblock-big > .icon-lg {
    background-size: 48px 48px;
    padding-left: 68px;
    min-height: 58px;
}

.icon-starcraft, .icon-starcraft-lg {
    background-image: url(/images/scicon_lg.png);
}

.panel-primary > .heading-starcraft {
	background-color: #29353d;
	background-color: hsl(215, 20%, 20%);
}

.icon-warcraft, .icon-warcraft-lg {
    background-image: url(/images/wowicon_lg.png);
}

.panel-primary > .heading-warcraft {
	background-color: #2c3d29;
	background-color: hsl(110, 20%, 20%);
}

.icon-diablo, .icon-diablo-lg {
    background-image: url(/images/diabloicon_lg.png);
}

.panel-primary > .heading-diablo {
	background-color: #3d2c29;
	background-color: hsl(10, 20%, 20%);
}

.icon-overwatch, .icon-overwatch-lg {
    background-image: url(/images/overwatchicon_lg.png);
}

.panel-primary > .heading-overwatch {
	background-color: #293d33;
	background-color: hsl(150, 20%, 20%);
}

.icon-blizzard {
    background-image: url(/images/blizzicon.png);
}

.icon-blizzard-lg {
    background-image: url(/images/blizzicon_lg.png);
}

.panel-primary > .heading-blizzard {
	background-color: #293a3d;
	background-color: hsl(185, 20%, 20%);
}

.icon-heroesofthestorm, .icon-heroesofthestorm-lg {
    background-image: url(/images/hotsicon_lg.png);
}

.panel-primary > .heading-heroesofthestorm {
	background-color: #3d293d;
	background-color: hsl(300, 20%, 20%);
}

.icon-hearthstone, .icon-hearthstone-lg {
    background-image: url(/images/hearthicon_lg.png);
}

.panel-primary > .heading-hearthstone {
	background-color: #3d3529;
	background-color: hsl(35, 20%, 20%);
}
