<div class="mt-1 mb-2">
    <b><span class="blizzard">Blizzard</span> <span class="white">Streams</span></b> — unofficial collection of <a href="http://blizzard.com">Blizzard Entertainment</a> official streams.
</div>

<div class="social-links mb-2">
	<a href="//twitter.com/BlizzardStreams" title="Twitter"><i class="fab fa-twitter fa-2x mr-2"></i></a>
	{#<a href="//discord.gg/tUPVD4Q" title="Discord"><i class="fab fa-discord fa-2x"></i></a>#}
</div>

<div>All rights reserved. <span class="nowrap">&copy; {{ years_str }} <a href="mailto:{{ contact_email }}">{{ site_name }}</a></span></div>
<div>Built on <a href="https://github.com/kapxapot/plasticode">Plasticode</a> with <span class="heart">&#10084;</span> to Blizzard</div>
